body{
 margin:0;
 font-family:Segoe UI;
 background:#020617;
 color:white;
 display:flex;
 justify-content:center;
}

.container{
 width:420px;
 padding:25px;
}

.logo{
 text-align:center;
 color:#00ffff;
 letter-spacing:3px;
 margin-bottom:5px;
}

.sub{
 text-align:center;
 opacity:.7;
 margin-bottom:25px;
}

.card{
 background:#071026;
 padding:20px;
 border-radius:15px;
 box-shadow:0 0 20px #00ffff22;
}

label{
 font-size:14px;
 opacity:.8;
}

input{
 width:100%;
 margin:8px 0 18px 0;
 padding:12px;
 border:none;
 border-radius:8px;
 background:#020617;
 color:white;
 outline:none;
 border:1px solid #00ffff33;
}

input:focus{
 border-color:#00ffff;
 box-shadow:0 0 8px #00ffff88;
}

button{
 width:100%;
 padding:15px;
 border:none;
 border-radius:10px;
 font-size:18px;
 background:#00ffff;
 color:#020617;
 font-weight:bold;
 cursor:pointer;
 transition:.3s;
}

button:hover{
 transform:scale(1.03);
 box-shadow:0 0 15px #00ffff;
}

.hidden{
 display:none;
}

/* LOADING SCANNER */
.scanner{
 height:6px;
 background:#00ffff;
 margin:20px 0;
 animation:scan 1.2s infinite;
}

@keyframes scan{
 0%{width:0%}
 50%{width:100%}
 100%{width:0%}
}

/* RESULTADO */
.resultadoBox{
 margin-top:20px;
 background:#020617;
 padding:20px;
 border-radius:12px;
 border:1px solid #00ffff55;
 animation:fade .5s ease;
}

@keyframes fade{
 from{opacity:0;transform:translateY(10px)}
 to{opacity:1}
}

.score{
 font-size:50px;
 text-align:center;
 color:#00ffff;
 margin:10px 0;
}

.nivel{
 text-align:center;
 font-weight:bold;
 margin-bottom:15px;
}

.sec{
 margin-top:15px;
}

ul{
 padding-left:20px;
}